*{

    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
header{
    
    border: 1px solid black;
    height: 20em;
    width: 100%;
    background-color: rgb(48, 46, 46);
}
header nav{
    display: flex;
    flex-wrap: wrap;
    margin-top: 280px;
}
header nav a{
    text-decoration: none;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 19px;
    margin: 0;
}
header nav :hover{
    background-color: rgb(48, 46, 46);
    color: black;
}
main{
    border: 1px solid black;
    height: 40em;
    width: 65%;
    display: flex;
    float: left;
    margin-top: 2em;
}
aside{
    margin-top: 2em;
    height: 40em;
    width: 30%;
    float: right;
    display: flex;
    border: 1px solid black;
}

.mais-lidos{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: gray;
}

.mais-lidos-titulo{
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
    font-size: 1.3em;
}

.ul-mais-lidos{
    margin-left: 20px;
}

footer{
    height: 5em;
    margin-top: 43em;
    width: 100%;
    border: 1px solid black;
}

#bloco1{
    height: 18em;
    width: 100%;
    background-color: yellow;
}
#bloco1 h1{
    margin-left: 1.3em;
    margin-top: 1em;
}
#bloco1 img{
    float: left;
    display: flex;
    margin-left: 2em;
    margin-top: 1.5em;
}
#bloco1 h3{
    margin-top: 1.5em;
    margin-left: 13em;
}
#bloco1 p{
    margin-top: 3em;
    width: 70%;
    margin-left: 15em;
    text-align: justify;
}
#grade img{
    margin-left: 2em;
    margin-top: 2em;
}

form input{
    border: 1px solid white ;
    width: 345px;
    margin-left: 5%;
    margin-top: 2em;
    font-style: italic;
}

