*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
header{
    border: 1px solid black;
    height: 20em;
    width: 100%;
    background-color: rgb(48, 46, 46);
}
header nav{
    display: flex;
    flex-wrap: wrap;
    margin-top: 280px;
}
header nav a{
    text-decoration: none;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 19px;
    margin: 0;
}
header nav :hover{
    background-color: rgb(48, 46, 46);
    color: black;
}
main{
    border: 1px solid black;
    height: 40em;
    width: 65%;
    display: flex;
    float: left;
    margin-top: 2em;
}
aside{
    margin-top: 2em;
    height: 40em;
    width: 30%;
    float: right;
    display: flex;
    border: 1px solid black;
}
footer{
    height: 5em;
    margin-top: 43em;
    width: 100%;
    border: 1px solid black;
}