*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
header{
    border: 1px solid black;
    height: 20em;
    width: 100%;
}
main{
    border: 1px solid black;
    height: 40em;
    width: 65%;
    display: flex;
    float: left;
    margin-top: 2em;
}
aside{
    margin-top: 2em;
    height: 40em;
    width: 30%;
    float: right;
    display: flex;
    border: 1px solid black;
}
footer{
    height: 5em;
    margin-top: 43em;
    width: 100%;
    border: 1px solid black;
}
#bloco3{
    height: 18em;
    width: 49%;
    margin-left: 51%;
    background-color: yellow;
}
#bloco3 h2{
    margin-top: 1em;
    margin-left: 1em;

}
#bloco3 h1{
    margin-top: 1em;
    margin-left: 1em;
}
#bloco3 p{
    margin-top: 2em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    text-align: justify;
}
#bloco3 button{
    margin-left: 80%;
    margin-top: 2em;
}